.header__link {
  a {
    font-size: $x-large;
    color: $white;
  }
  &:hover {
    a {
      font-size: 1.1*($x-large);
      text-shadow: 0 0 3px $platinum;
    }
  }
}
.contact__link {
  font-family: $roboto;
  color: $spanish-pink;
  text-decoration: none;
  h4 {
    font-size: $large;
    font-weight: $lighti!important;
    margin-bottom: 0.5rem;
  }
}
.contact__link:hover {
  color: $nickel;
}
.contact__link:active {
  color: $light-gray;
}
