@media (max-width: 991px) {

}
@media (min-width: 992px) {
  .pagination {
    & .page-item {
      font-size: 1.4*($large);
      & .page-link {
        padding: 0.6rem 1.2rem;
      }
    }
  }
}

.pagination {
  z-index: -1;
  & .active {
    z-index: 0;
  }
}
