//Esquemas de color

//Primer esquema
$white: #FFF;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;

//Segundo esquema
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

//Tercer esquema
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;

//Tipografía

//Font family
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

//Font weight
$lighti: 300;
$regular: 400;
$blacki: 900;

//Font size
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$smalli: 12px;

//Bootstrap
$navbar-dark-color: $white;
$navbar-dark-hover-color: $spanish-pink;
$navbar-dark-active-color: $ruddy-pink;
$dark: $eerie-black;
$secondary: $nickel;
$btn-border-radius: 2.5rem;
$btn-padding-y: 1rem;
$btn-padding-x: 1rem;
