//Color Scheme
$xda-white: #FFF;
$xda-isabelline: #ECECEC;
$xda-light-gray: #D1D1D1;
$xda-smoky-black: #0C0910;
$xda-granite-gray: #646266;
$xda-quick-silver: #A6A5A8;

//Typography

//Typefaces
$old-standard-tt: 'Old Standard TT', serif;
$raleway: 'Raleway', sans-serif;
//Font sizes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
//Font weight
$xda-bold: 700;
$xda-regular: 400;
//Scren sizes
$min-tablet: 768px;
$min-laptop: 992px;
