.header {
  background-color: $eerie-black;
  background-image: url('../img/post-image.jpg');
  height: 55vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 18vw 25vw;
}
.header__container {
  text-align: center;
}
.article {
  padding: 7rem;
  & .article__title {
    margin-bottom: 4rem;
  }
  p {
    margin-bottom: 3rem;
  }
}
.contact {
  padding: 7rem;
  border-top: 2px solid $platinum;
}
.contact__thumbnail, .contact__contact, .contact__text {
  border: 1px solid pink;
}
.pagination-container {
  background-color: $platinum;
  padding: 2.5rem 0;
  text-align: center;
  & .pagination {
    justify-content: center;
  }
}
.footer {
  padding: 3.5rem 0;
  text-align: center;
  & .logo {
    width: 8rem;
  }
}
.article__buttons {
  padding-top: 2rem;
  & .btn {
    margin-right: 1rem;
  }
}
