@media (max-width: 991px) {
  .navbar {
    padding: 0 2rem;
    height: 14vh;

  }
  .header {
    height: 86vh;
    padding: 35vh 20vw;
    & .header__title {
      margin-bottom: 23vh;
    }
  }
  .article {
    padding: 4rem;
    & .article__title {
      margin-bottom: 3rem;
    }
    p {
      margin-bottom: 2rem;
    }
  }
  .article__buttons {
    padding-top: 2rem;
    text-align: center;
    & .btn {
      margin-right: 0.1rem;
      margin-left:  0.1rem;
    }
  }
  .contact {
    padding: 4rem;
    & .contact__contact {
      padding-top: 1rem;
      width: 100%;
      text-align: center;
      box-sizing: border-box;
      & .contact__name {
        margin-bottom: 0.5rem;
      }
    }
    & .contact__thumbnail {
      width: 100%;
      text-align: center;
    }
  }
  .pagination-container {
    padding: 3.5rem 0;
  }
  .footer {
    padding: 5rem 0;
    text-align: center;
    & .logo {
      width: 6rem;
    }
  }
}
@media (min-width: 992px) {
  .navbar {
    height: 15vh;
  }
  .header {
    height: 85vh;
    padding: 25vh 25vw;
    & .header__title {
      margin-bottom: 21vh;
    }
  }
  .article {
    padding: 7rem;
    & .article__title {
      margin-bottom: 4rem;
    }
    p {
      margin-bottom: 3rem;
    }
  }
  .article__buttons {
    padding-top: 2rem;
    & .btn {
      margin-right: 1rem;
    }
  }
  .contact {
    padding: 7rem;
    & .contact__contact {
      padding-top: 3.5rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      width: 40%;
      box-sizing: border-box;
      & .contact__name {
        margin-bottom: 1rem;
      }
    }
    & .contact__thumbnail {
      padding-left: 0;
    }
  }
  .pagination-container {
    padding: 2.5rem 0;
  }
  .footer {
    padding: 3.5rem 0;
    text-align: center;
    & .logo {
      width: 8rem;
    }
  }
}

//Pseudo elemento para cuadrar scroll
a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}
//navbar
nav {
  z-index: 1;
}
//Header
.header {
  background-color: $eerie-black;
  background-image: url('../img/post-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header__container {
  text-align: center;
}
//Contacto
.contact {
  border-top: 2px solid $platinum;
}
//Pagination
.pagination-container {
  background-color: $platinum;
  text-align: center;
  & .pagination {
    justify-content: center;
  }
}
